html {
    font-size: 10px;
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/homeBG.jpg);
    background-size: cover;
    background-position: center;

}

.navbar {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4rem;
}

.header a {
    font-weight: normal;
    font-size: 2.5rem;
    background: -webkit-linear-gradient(#ffffff, #333);
    background-clip: text;
    text-decoration: none;
    -webkit-text-fill-color: transparent;
}

.noti_btn {
    width: 3.2rem;
    height: 3.2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    border: none;
}

.bell {
    width: 18px;
}

.bell path {
    fill: white;
}

.noti_btn:hover {
    background-color: rgb(56, 56, 56);
}

.noti_btn:hover .bell {
    animation: bellRing 0.9s both;
}

/* bell ringing animation keyframes*/
@keyframes bellRing {

    0%,
    100% {
        transform-origin: top;
    }

    15% {
        transform: rotateZ(10deg);
    }

    30% {
        transform: rotateZ(-10deg);
    }

    45% {
        transform: rotateZ(5deg);
    }

    60% {
        transform: rotateZ(-5deg);
    }

    75% {
        transform: rotateZ(2deg);
    }
}

.noti_btn:active {
    transform: scale(0.8);
}

.center {
    height: 70%;
    padding-inline: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.left h1 {
    background: -webkit-linear-gradient(94deg, #ffffff 0%, #000000 100%);
    font-size: 8rem;
    text-align: center;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .44rem;
    animation: typing 2s steps(28, end) infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


.left p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
    letter-spacing: .15rem;
}


.button {
    position: relative;
    text-decoration: none;
    overflow: hidden;
    padding-block: 1rem;
    height: 5rem;
    width: 13rem;
    margin-inline: 0;
    margin-top: 3rem;
    font-size: 1.9rem;
    border-radius: 1.5rem;
    background: #2a2736;
    background-size: 400%;
    color: #e6e2e2;
    border: none;
    cursor: pointer;
}

.button:hover::before {
    transform: scaleX(1);
}

.buttonContent {
    position: relative;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            rgba(150, 93, 233, 1) 10.8%,
            rgba(99, 88, 238, 1) 94.3%);
    transition: all 0.475s;
}

:root {
    --background: #2C2C2C;
    --linkedin: #0A66C2;
    --youtube: #e52d27;
    --twitter: #1D9BF0;
}

.background {
    background-color: transparent;
    display: grid;
    place-items: center;
    height: 15%;
}

.socialMediaButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.socialMediaButton {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    outline: 2px solid rgb(228, 220, 220);
    cursor: pointer;
    transition: all 0.3s;
    display: grid;
    place-items: center;
}

.socialMediaButton:hover {
    outline-offset: 3px;
    transition: all 0.3s;
}

.socialMediaButton img {
    transition: all 0.3s;
}

.socialMediaButton:hover img {
    transform: scale(1.15);
}

.socialMediaButton:hover:nth-child(1) {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%,
            #fdf497 5%, #fd5949 45%,
            #d6249f 60%, #285AEB 90%);
}

.socialMediaButton:hover:nth-child(2) {
    background-color: var(--twitter);
}

.socialMediaButton:hover:nth-child(3) {
    background-color: var(--youtube);
}

.socialMediaButton:hover:nth-child(4) {
    background-color: var(--linkedin);
}

/* For responsive design */

@media (max-width:840px) {
    .navbar {
        padding-inline: 1.8rem;
    }

    .center {
        padding-inline: 5rem;

    }

    .left {
        row-gap: 4rem;
    }

    .left h1 {
        font-size: 4rem;
    }

    .left p {
        font-size: 1.5rem;
        letter-spacing: .11rem;
    }

    .button {
        height: 3.6rem;
        width: 9rem;
        font-size: 1.3rem;
        padding: 0;
        margin: 0;
        padding-block: .702rem;

    }

    .socialMediaButton {
        width: 3rem;
        height: 3rem;
    }
}

@media (max-width:350px) {
    .noti_btn {
        width: 3rem;
        height: 3rem;
    }

    .bell {
        width: 15px;
    }

    .header a {

        font-size: 2rem;

    }

    .left {
        row-gap: 2rem;
    }

    .left h1 {
        font-size: 3rem;
    }

    .left p {
        font-size: 1.1rem;
    }
}

@media (max-width:258px) {
    .header a {

        font-size: 2rem;

    }

    .noti_btn {
        margin-right: 2rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    .bell {
        width: 10px;
    }

    .left {
        row-gap: 1rem;
    }

    .left h1 {
        font-size: 3rem;
    }

    .left p {
        font-size: .8rem;
    }
}
